---
export interface Props {
  title: string;
  description: string;
  url: string;
}

const {title, description, url} = Astro.props as Props;
---
<a href={url} class="border-2 border-solid border-gray-50 rounded-xl shadow-sm shadow-blue-100 hover:shadow-blue-300 p-4 mx-4">
    <h3 class="text-lg text-gray-500">{title}</h3>
    <p class="leading-tight text-gray-300">{description}</p>
</a>