---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="text-gray-600 body-font xl:max-w-6xl xl:m-auto">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center text-center">
        <h1 class="leading-snug text-3xl">Error
          <br class="hidden lg:inline-block"><i class="text-pink-300 hover:text-pink-500">404</i>.
        </h1>
        <p class="mt-10 leading-relaxed">
          This page doesn't exist...
          <br class="hidden lg:inline-block">
          Try going back to the previous page or browsing something else by using the links on the header of the page.
        </p>
    </div>
  </section>
</BaseLayout>