---
import BaseLayout from "@layouts/BaseLayout.astro";

const glossary = await Astro.glob('../pages/glossary/*.md');
---

<BaseLayout>
  <section class="text-gray-600 body-font xl:max-w-6xl xl:m-auto container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    {glossary.map((term) =>
    <article class="border border-solid border-gray-300 rounded-xl shadow-xl shadow-blue-300 p-4 mx-4">
      <a href={term.url}>
        <h3 class="text-lg">{term.frontmatter.title}</h3>
      </a>
      <p class="leading-tight">{term.frontmatter.description}</p>
    </article>
      )}
  </section>
</BaseLayout>