---
import BaseLayout from "@layouts/BaseLayout.astro";
import GlossaryItem from "@components/glossary/GlossaryItem.astro"

const glossary = await Astro.glob('../pages/glossary/*.md');
---

<BaseLayout>
  <section class="text-gray-600 body-font xl:max-w-6xl xl:m-auto container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    {glossary.map((term) => <GlossaryItem
      title={term.frontmatter.title}
      description={term.frontmatter.description}
      url={term.url}
    />)}
  </section>
</BaseLayout>