---
import BaseLayout from "@layouts/BaseLayout.astro";
import GlossaryItem from "@components/glossary/GlossaryItem.astro"

const glossary = await Astro.glob('../pages/glossary/*.md');

function sortByTitle(a, b) {
  const titleA = a.frontmatter.title.toUpperCase();
  const titleB = b.frontmatter.title.toUpperCase();
  if (titleA < titleB) {
    return -1;
  }
  if (titleA > titleB) {
    return 1;
  }
  return 0;
}
---

<BaseLayout>
  <section class="body-font xl:max-w-6xl xl:m-auto">
    <h1 class="text-3xl mb-4 font-bold">Glossary</h1>
    <div class="text-gray-600 container mx-auto grid grid-cols-2 md:grid-cols-3 gap-2 gap-y-4 px-5 py-24 place-content-stretch">
      {glossary.sort(sortByTitle).map((term) =>
      <GlossaryItem title={term.frontmatter.title} description={term.frontmatter.description} url={term.url} />)}
    </div>
  </section>
</BaseLayout>