---
import BaseLayout from "@layouts/BaseLayout.astro";

const glosarry = await Astro.glob('../pages/glossary/*.md');
---

<BaseLayout>
  <ul>
    {glosarry.map((item) => <li>
      <a href={item.url}>
        {item.frontmatter.title}
      </a>
    </li>)}
  </ul>
</BaseLayout>