---
import { execSync } from "child_process";
import Link from "./Link.astro";

const gitCommitHash = execSync("git rev-parse HEAD").toString().trim();

const currentDate = new Date();
const buildDate = currentDate.toDateString();
---

<footer class="bg-gray-200 mt-5">
  <div class=" container mx-auto flex flex-wrap justify-around flex-col md:flex-row items-center p-5">
    <p>Maintened with love by the powerd6 community.</p>
    <p>Build on {buildDate} with commit
      <Link href={`https://github.com/powerd6/insider/commit/${gitCommitHash}`}>{gitCommitHash.substring(0,7)}</Link>
    </p>
  </div>
</footer>