---
export interface Props {
  href: string;
  extra_classes?: string[];
}

const { href, extra_classes } = Astro.props as Props;
---

<a href={href} class={`text-blue-500 hover:text-blue-700 hover:underline ${extra_classes?.join(" ")}`}>
  <slot />
</a>