---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import json from '@static/data.json';

const { title } = json;
const { content = {
  title: title
} } = Astro.props;
---
<html>
  <head>
    <meta charset="utf-8">
    <title>{content.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="flex flex-col h-screen">
    <Header links={[
      {displayText: "Home" , url: "/"},
      {displayText: "Getting Started" , url: "/getting-started"},
      // {displayText: "Contributing" , url: "/contributing"},
      {displayText: "Sourcecode" , url: "https://github.com/powerd6/insider"}
      ]} />
    <main class="container p-10 m-auto flex-grow">
      <slot /> <!-- content is injected here -->
    </main>
    <Footer />
  </body>
</html>