---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { CONFIG } from '@static/config';

const { title } = CONFIG;

const { content = {
  title: title
} } = Astro.props;
---
<html>
  <head>
    <meta charset="utf-8">
    <title>{content.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="flex flex-col h-screen">
    <Header />
    <main class="container p-10 m-auto flex-grow">
      <slot /> <!-- content is injected here -->
    </main>
    <Footer />
  </body>
</html>