---
import TerminologySidebar from "@components/TerminologySidebar.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import Content from "@components/Content.astro";

const {content} = Astro.props;
---
<BaseLayout title={content.title} showScrollToTop={true}>
  <div class="flex h-full">
    <TerminologySidebar />
    <Content>
      <h1>{content.title}</h1>
      <slot />
    </Content>
  </div>
</BaseLayout>